<section class="section-bg" style="background-image: url(assets/images/conatcBack.jpg);" data-scroll-index="7">
    <div class="overlay pt-100 pb-100 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center">
                    <div class="contact-info">

                        <h2 class="contact-title">Have Any Questions?</h2>
                        <p>
                            Hello there! 🐾 We're thrilled that you're interested in adopting a furry friend from Goddy
                            Adoption Center. If you have any questions or if there's anything specific you'd like to
                            know about the adoption process, our adorable animals, or anything else, feel free to ask!
                            We're here to help and make the adoption journey a joyful experience for you and your future
                            pet. 🐶🐱
                        </p>

                        <p>
                            Have any concerns, curiosities, or just want to chat about our lovely animals? Drop us a
                            message below, and we'll get back to you as soon as possible. Your new best friend might be
                            just a question away! 🌈❤️
                        </p>
                        <ul class="contact-info">
                            <li>
                                <div class="info-left">
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                                <div class="info-right">
                                    <h4> 📞 +11223344550</h4>
                                </div>
                            </li>
                            <li>
                                <div class="info-left">
                                    <i class="fas fa-at"></i>
                                </div>
                                <div class="info-right">
                                    <h4>✉️ doggie.valet.com</h4>
                                </div>
                            </li>
                            <li>
                                <div class="info-left">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="info-right">
                                    <h4> 🏠 1243 Stree New Chandigarh, INDIA</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div class="contact-form">
                        <!--Contact Form-->
                        <form id='contact-form' method='POST'><input type='hidden' name='form-name'
                                value='contactForm' />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" id="first-name"
                                            placeholder="Enter Your Name *" required="required">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" id="email"
                                            placeholder="Enter Your Email *" required="required">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea rows="4" name="message" class="form-control" id="description"
                                            placeholder="Enter Your Message *" required="required"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <!--contact button-->
                                    <button class="btn-big btn btn-bg" onclick = "alert('Thank you for submitting your contact details! We will be in touch soon')">
                                        Send Us <i class="fas fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>