<body>
  

<div class="Container">
    <img class="topimg" src="assets/images/image9.jpg">
   <h1> <p>ABOUT US</p></h1>

</div>
<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container bottomContainer">
      <div class="ultimateImg">
        <img class="mainImg" src="assets/images/aboutus2img.jfif">
        <div class="purpleBox">
          <p class="purpleText">
            Feel free to explore our website, join the discussions, and share your love for dogs. Thank you for being a part of our doggy-loving community!</p>
          
          <img class="stars" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/mp5.svg">
        </div>
      </div>
      <div class="allText bottomText">
        <!-- <p class="text-blk headingText">
          About Us
        </p> -->
        <p class="text-blk subHeadingText">
            Welcome to our doggy website! We are passionate about creating a community that celebrates the love and joy that dogs bring to our lives. Our mission is to provide valuable information, resources, and a platform for dog lovers to connect.</p>
        
        <!-- <p class="text-blk description">
            <p>Whether you're a new dog owner looking for training tips, a seasoned enthusiast seeking breed-specific advice, or just someone who enjoys adorable dog photos, you've come to the right place. Our team of experts and fellow dog enthusiasts are dedicated to making your experience here enjoyable and informative.</p>
         -->
        <a  routerLink="/contactform" class="explore">Contact Us</a>  
         
        
      </div>
    </div>
  </div>

</body>

  
