<body>

  <header>
    <h2>Pet Care Tips</h2>
  </header>

  <main>
    <section class="tip">
      <img src="assets\images\dog-nutrition-chart.webp" alt="Pet Nutrition">
      <div class="tip-content">
        <h3>Proper Nutrition</h3>
        <p>Ensure your pet receives a balanced diet with the right nutrients for their species and age. Consult your
          veterinarian for personalized feeding recommendations.</p>
        <br>
        <p>The six basic nutrients are water, proteins, fats, carbohydrates, minerals, and vitamins. These essential
          nutrients are required as part of the dog’s regular diet and are involved in all of the basic functions of the
          body. The minimum dietary requirement has been established for many nutrients</p>
        <!-- <button>Read More</button> -->
      </div>
    </section>

    <section class="tip">
      <div class="tip-content">
        <h3>Regular Exercise</h3>
        <p>Engage your pet in regular physical activities to keep them healthy and happy. Exercise helps prevent obesity
          and promotes overall well-being.
          <br>Regular exercise is just as important for your pets, as it is for ourselves. Health benefits range widely,
          but include helping hip joints, reducing digestive problems, and keeping your dog and cat at a healthy weight,
          which decreases the likelihood of developing other health problems
        </p>
        <!-- <button>Read More</button> -->

      </div>
      <img src="assets\images\Regular Exercis.jfif" alt="Pet Exercise">
    </section>

    <section class="tip">
      <img src="assets\images\Veterinary Check-ups.jfif" alt="Veterinary Check-up">
      <div class="tip-content">
        <h3>Veterinary Check-ups</h3>
        <p>Schedule regular check-ups with the vet to monitor your pet's health. Vaccinations, preventive care, and
          early detection of issues are crucial for their longevity.
          <br>
          Regular health assessments will also help you keep your dog's vaccinations up-to-date, provide an opportunity
          for you to accurately weigh your dog and help put your mind at ease about any issues.

        <h4>General dog health assessment</h4>
        You already take your four-legged friend to the vet when they are sick or injured but those appointments tend to
        focus mainly on one particular issue. <b>Check up</b> visits, on the other hand, are more holistic, giving your
        vet the opportunity to detect subtle changes in your pet's overall physical health.

        Ideally, your vet should see your dog at least once a year, and more frequently as they get older or if they
        have special medical needs. These regular visits play a huge part in the 'prevention is better than cure'
        approach; so don't hold off making the appointment just because your dog seems fit and healthy to you. Your vet
        will check your dog over, including listening to their heart and lungs, running their hands over their abdomen
        to check for any unusual signs, checking for skin/coat, eye and ear problems and scanning their microchip to see
        if it is all in working order.
      </div>
    </section>

    <section class="tip">
      <div class="tip-content">
        <h3> Grooming</h3>
        <p>Keep your pet clean and well-groomed. Brush their fur regularly, trim nails, and clean ears. Grooming not
          only maintains their appearance but also contributes to their overall health.</p>
        <h6>1. Regularly brush your dog’s coat to prevent matting</h6>
        <h6>2. Trim your dog’s hair – but use caution</h6>
        <h6>3. Safely trim your dog’s nails  </h6>
      
        <h6>4. Check your dog’s skin as you groom </h6>
       
        <h6>5. Teach your dog to enjoy grooming sessions   </h6>
     
        <h6>6. Regularly check your dog’s ears   </h6>
     
        <h6>7. Don’t bathe your dog too often  </h6>
      

      </div>
      <img src="assets\images\Grooming2.jpg" alt="Pet Grooming">
    </section>


    <section class="tip">
      <img src="assets\images\Dental Care2.jpg" alt="Pet Dental Care">
      <div class="tip-content">
        <h3> Dental Care</h3>
        <p>Don't overlook dental health. Brush your pet's teeth regularly and provide dental treats or toys. Good oral
          hygiene contributes to their overall well-being.</p>
          <p>Just like humans, dogs require regular dental care to prevent a host of health issues and ensure their overall well-being. Neglecting their dental health can lead to serious complications, including gum disease, tooth loss and even systemic health problems.

            For maintaining your dog's dental health and ensuring a bright, disease-free smile, experts suggest a routine of daily teeth cleaning using a canine-specific toothpaste and toothbrush, along with yearly professional dental checkups. However, there's more to dental care than just brushing and checkups.
            
            We spoke to vet experts to learn the ins and outs of keeping your dog’s teeth in tip-top shape.</p>
      </div>
    </section>


  </main>


</body>