<body>

  <header>
    <h1>Doggy Valet</h1>
  </header>

  <main>
    <div class="card-grid">
      <!-- Card 1 -->
      <div class="card">
        <img src="assets\images\Golden Retriever.jpg" alt="Adorable Dog 1">
        <div class="card-content">
          <h5>Golden Retriever</h5>
          <p><b>Price: $800</b></p>
          <p>Friendly and intelligent with a gentle nature and a beautiful golden coat.</p>
          <button routerLink="/adoption-center" class="info-button">Adopt Now</button>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="card">
        <img src="assets\images\dog2(Labrador Retriever).jpg" alt="Cute Dog 2">
        <div class="card-content">
          <h5>Labrador Retriever </h5>
          <p><b>Price: $750</b></p>
          <p>Energetic and outgoing, known for friendliness, intelligence, and versatility.s</p>
          <button routerLink="/adoption-center" class="info-button">Adopt Now</button>
        </div>
      </div>

      <div class="card">
        <img src="assets\images\dog3(German Shepherd).jpg" alt="Cute Dog 2">
        <div class="card-content">
          <h5>German Shepherd</h5>
          <p><b>Price: $900</b></p>
          <p>Intelligent and loyal, often used as police or service dogs.</p>
          <button routerLink="/adoption-center" class="info-button">Adopt Now</button>
        </div>
      </div>

      <div class="card">
        <img src="assets\images\dog4(Beagle).jpg" alt="Cute Dog 2">
        <div class="card-content">
          <h5>Beagle</h5>
          <p><b>Price: $600</b></p>
          <p>Friendly and curious, small to medium-sized dogs with a keen sense of smell.</p>
          <button routerLink="/adoption-center" class="info-button">Adopt Now</button>
        </div>
      </div>

      <div class="card">
        <img src="assets\images\dog5(Dachshund).jpg" alt="Cute Dog 2">
        <div class="card-content">
          <h5>Dachshund</h5>
          <p><b>Price: $550</b></p>
          <p>Playful and affectionate with a unique long body and short legs.</p>
          <button routerLink="/adoption-center" class="info-button">Adopt Now</button>
        </div>
      </div>


      <div class="card">
        <img src="assets/images/dog6(Poodle).jpg" alt="Cute Dog 2">
        <div class="card-content">
          <h5>Poodle</h5>
          <p><b>Price: $1000</b></p>
          <p>Highly intelligent and hypoallergenic, available in various sizes with a distinctive curly coat.</p>
          <button routerLink="/adoption-center" class="info-button">Adopt Now</button>
        </div>
      </div>

      <div class="card">
        <img src="assets/images/dog7(Bulldog).jpg" alt="Cute Dog 2">
        <div class="card-content">
          <h5>Bulldog</h5>
          <p><b>Price: $1600</b></p>
          <p>Muscular with a calm and friendly demeanor, known for a distinct appearance.</p>
          <button routerLink="/adoption-center" class="info-button">Adopt Now</button>
        </div>
      </div>


      <div class="card">
        <img src="assets/images/dog8(Boxer).jpg" alt="Cute Dog 2">
        <div class="card-content">
          <h5>Boxer</h5>
          <p><b>Price: $700</b></p>
          <p>Athletic and playful, medium to large-sized dogs with a strong jaw.</p>
          <button routerLink="/adoption-center" class="info-button">Adopt Now</button>
        </div>
      </div>

      <div class="card">
        <img src="assets/images/dog9(Pomeranian).jpg" alt="Cute Dog 2">
        <div class="card-content">
          <h5>Pomeranian</h5>
          <p><b>Price: $1200</b></p>
          <p>Small and fluffy, lively and alert with a fox-like face and thick double coat.</p>
          <button routerLink="/adoption-center" class="info-button">Adopt Now</button>
        </div>
      </div>

      <div class="card">
        <img src="assets/images/dog10(Siberian Husky).jpg" alt="Cute Dog 2">
        <div class="card-content">
          <h5>Siberian Husky</h5>
          <p><b>Price: $950</b></p>
          <p> Energetic and friendly, known for striking appearance and thick double coat.</p>
          <button routerLink="/adoption-center" class="info-button">Adopt Now</button>
        </div>
      </div>

      <div class="card">
        <img src="assets/images/dog11(Shih Tzu).jpg" alt="Cute Dog 2">
        <div class="card-content">
          <h5>Shih Tzu</h5>
          <p><b>Price: $500</b></p>
          <p>Small dogs with a friendly nature, distinct underbite, and a luxurious, long coat.</p>
          <button routerLink="/adoption-center" class="info-button">Adopt Now</button>
        </div>
      </div>

      <div class="card">
        <img src="assets/images/dog12(Chihuahua).jpg" alt="Cute Dog 2">
        <div class="card-content">
          <h5>Chihuahua</h5>
          <p><b>Price: $450</b></p>
          <p>Tiny dogs with a big personality, known for loyalty and confidence.</p>
          <button routerLink="/adoption-center" class="info-button">Adopt Now</button>
        </div>
      </div>

      <div class="card">
        <img src="assets/images/dog13(Border Collie).jpg" alt="Cute Dog 2">
        <div class="card-content">
          <h5>Border Collie</h5>
          <p><b>Price: $850</b></p>
          <p>Highly intelligent and energetic herding dogs, excelling in agility and obedience.</p>
          <button routerLink="/adoption-center" class="info-button">Adopt Now</button>
        </div>
      </div>

      <div class="card">
        <img src="assets/images/dog14(Great Dane).jpg" alt="Cute Dog 2">
        <div class="card-content">
          <h5>Great Dane</h5>
          <p><b>Price: $1100</b></p>
          <p>Giant dogs with a gentle demeanor, known for imposing size and friendliness.</p>
          <button routerLink="/adoption-center" class="info-button">Adopt Now</button>
        </div>
      </div>

      <div class="card">
        <img src="assets/images/dog15(Doberman Pinscher).jpg" alt="Cute Dog 2">
        <div class="card-content">
          <h5>Doberman Pinscher</h5>
          <p><b>Price: $600</b></p>
          <p>Intelligent and loyal guard dogs, known for sleek appearance and athleticism.</p>
          <button routerLink="/adoption-center" class="info-button">Adopt Now</button>
        </div>
      </div>

      <div class="card">
        <img src="assets/images/dog16(Pug).jpg" alt="Cute Dog 2">
        <div class="card-content">
          <h5>Pug</h5>
          <p><b>Price: $400</b></p>
          <p> Small dogs with a wrinkled face and curled tail, charming and affectionate with comical expressions.</p>
          <button routerLink="/adoption-center" class="info-button">Adopt Now</button>
        </div>
      </div>
    </div>
  </main>

</body>