<div class="slider-container">
  <div class="slides">
    <div class="slide slide1">
      <img src="assets/images/image1.jpg" alt="Slide 1">
      <div class="overlay">
        <h2>welcome to our Doggie Valet</h2>
        <p>"Embrace the cuteness! Our furry friends are not just pets<br>
          They are family members full of love."
          <br>Fuel your days with the boundless energy of our playful canines.<br>
          Discover the loyalty and devotion of our canine companions.
          <br>Building memories that last a lifetime!
        </p>
        <!-- <button routerLink="[/aboutus]" ><a  class="cta-button"></a><h6> Explore More</h6></button> -->
        <button routerLink="/aboutus">Explore More</button>

      </div>
    </div>

    <div class="slide slide2">
      <img src="assets/images/image2.jpg" alt="Slide 2">
      <div class="overlay">
        <h2>Unleash the Energy</h2>
        <p>Experience the playful side of life with our energetic canines.
          <br>Ready for adventure?
        </p>
        <button routerLink="/adoption-center"><a class="cta-button"></a>
          <h6>Adopt Now</h6>
        </button>

      </div>
    </div>

    <div class="slide slide3">
      <img src="assets/images/image5.jpg" alt="Slide 3">
      <div class="overlay">
        <h2>Meet Your Match</h2>
        <p>Explore a world of loyal friends waiting to join your family.
          <br>Our diverse selection of dogs is ready to bring love, joy,
          <br>and unwavering companionship into your life.
        </p>
        <button routerLink="/gallary"><a class="cta-button"></a>
          <h6>Find Your Companion</h6>
        </button>

      </div>
    </div>
  </div>
</div>

<!-- <div class="second-container">
  <div id="new">
  @if(a == v){
  <img src="assets\images\dog4(Beagle).jpg" alt="Beagle"> 
  }@if(b == v){
    <img src="assets\images\dog6(Poodle).jpg" alt="poodle">
  }@if(c == v){
    <img src="assets\images\dog8(Boxer).jpg" alt="boxer">
  }@if(d == v){
    <img src="assets\images\dog16(Pug).jpg" alt="pub">
  }@else{
    <h4>no image found</h4>
  }
</div>
</div> -->
